.searchbar-input{
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
}

.searchbar-input fieldset{
    top: 0;
    border-radius: 50%;
}

.searchbar-input input, .searchbar-input button{
    color: white
}